*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', coursive;
}

/* Container */
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

/* Header */
header{
    height: 70px;
    width: 100%;
    background-color: #00cc7a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    width:30px;
    object-fit: contain;
    margin-bottom: 5px;
}

header select{
    height: 20px;
}

/* Lista elementi */
.container-list{
    width: 1200px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.list{
    height: 350px;
    width: 250px;
    background-color: #00cc7a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.list img{
    width: 180px;
    object-fit: contain;
}

.list h2{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.list span{
    margin-bottom: 5px;
    color: #ededed;
}

.hover{
    opacity:0.5;
}
